In [5]:
import numpy as np
import pandas as pd

In [6]:
#load dataset 
df = pd.read_csv('D:\IMDB Dataset\IMDB Dataset.csv')
print("Dataset Loaded")

Dataset Loaded

# Initial Exploration

1. **Shape of the Dataset:**
   - We will start by examining the dimensions of the dataset to understand its size.

2. **Null Values:**
   - Check for any missing or null values in the dataset and decide how to handle them.

3. **Data Types:**
   - Review the data types of each column to ensure they are appropriate for analysis.

4. **Statistical Exploration:**
   - Performing statistical analysis on the dataset like mean, median, range, etc.

In [7]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df.shape

(50000, 2)

In [8]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [9]:
df.dtypes

review       object
sentiment    object
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [9]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

# Preprocessing using NLP Techniques

    1. **Lowercasing:** -Lowercasing involves converting all letters in a text to lowercase. This is commonly used to ensure consistency in text processing and analysis.

    2. **Remove HTML Tags:** Removing HTML tags involves stripping out any HTML elements from a text string, leaving only the   plain text content.

    3. **Remove URLs:** Removing URLs involves eliminating any web addresses present in the text.

    4. **Chat Word Treatment:** Chat word treatment involves converting chat-style abbreviations or slang words into their formal equivalents.
    
    5. **Spelling Correction:** Spelling correction involves identifying and correcting misspelled words in a text.

    6. **Removing Stop Words:** Removing stop words involves eliminating common words (e.g., "the", "is", "and") that often don't add significant meaning to the text.

In [11]:
# Preprocessing Part-1
## Lowercasing
df['review'] = df['review'].str.lower()
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
# Removing HTML tags using regex
import re

def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

# Assuming df is your DataFrame and 'review' is the column containing text with HTML tags
df['review'] = df['review'].apply(remove_html_tags)
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [13]:
# Remove URLs using regex           regular expression -> https?://\S+|www\.\S+
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)
df['review'] = df['review'].apply(remove_url)
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [13]:
# remove punctuation 
def remove_punctuation(text):
    punctuation_pattern = r'[^\w\s]'
    clean_text = re.sub(punctuation_pattern, '', text)
    return clean_text

df['review'] = df['review'].apply(remove_punctuation)
df['review'][3]

'basically theres a family where a little boy jake thinks theres a zombie in his closet  his parents are fighting all the timethis movie is slower than a soap opera and suddenly jake decides to become rambo and kill the zombieok first of all when youre going to make a film you must decide if its a thriller or a drama as a drama the movie is watchable parents are divorcing  arguing like in real life and then we have jake with his closet which totally ruins all the film i expected to see a boogeyman similar movie and instead i watched a drama with some meaningless thriller spots3 out of 10 just for the well playing parents  descent dialogs as for the shots with jake just ignore them'

In [14]:
#removing chat words from particular column
def remove_chat_words(text):
    chat_words = ['lmao', 'rofl', 'lmfao', 'lol', 'haha']
    pattern = r'\b(?:{})\b'.format('|'.join(chat_words))
    cleaned_text = re.sub(pattern, '', text)
    return cleaned_text

df['review'] = df['review'].apply(remove_chat_words)
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [17]:
#Remove stopwords
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yuvra\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    tokens = nltk.word_tokenize(text)
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text
df['review'] = df['review'].apply(remove_stopwords)

In [20]:
df['review'][3]

"basically 's family little boy ( jake ) thinks 's zombie closet & parents fighting time.this movie slower soap opera ... suddenly , jake decides become rambo kill zombie.ok , first 're going make film must decide thriller drama ! drama movie watchable . parents divorcing & arguing like real life . jake closet totally ruins film ! expected see boogeyman similar movie , instead watched drama meaningless thriller spots.3 10 well playing parents & descent dialogs . shots jake : ignore ."